.foto{
    width: 320px;
    height: 320px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #fa6060;
}

.foto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.card{
    transition: 0.4s;
}

.card:hover{
    transform: translateY(-10px);
}


#contato {
    text-align: center;
    padding: 40px 20px;
}

.contato-container {
    display: flex;
    justify-content: center;
    gap: 15px; 
    flex-wrap: wrap; 
    margin-top: 20px;
}

.btn-contato {
    text-decoration: none;
    color: #fff;
    background-color: rgb(235, 122, 122); 
    padding: 12px 25px;
    border-radius: 8px;
    font-weight: bold;
    transition: all 0.3s ease; 
    border: 2px solid transparent;
}


.btn-contato:hover {
    background-color: transparent;
    color: rgb(235, 122, 122);
    border-color: rgb(235, 122, 122);
    transform: translateY(-3px); /* Botão sobe levemente */
}


.btn-contato[href*="linkedin"]:hover {
    color: #0077b5;
    border-color: #0077b5;
}

.btn-contato[href*="github"]:hover {
    color: rgb(235, 122, 122);
    border-color: rgb(235, 122, 122);
}
